<div class="card mt-2 mr-2">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills justify-content-end">
      <li class="nav-item">
        <button class="btn btn-danger" (click)="onDeleteSentence()">Delete</button>
      </li>
    </ul>
  </div>
  <div class="card-body">

    <div class="form-group">
      <label>Sentence</label>
      <input type="text" class="form-control" [(ngModel)]="trainingSentence" (change)="sentenceChanged()">
    </div>
    <div class="form-group">
      <button (click)="addText()" class="btn btn-primary">Add Text</button>
      <button (click)="addTextWithEntity()" class="btn btn-primary ml-2">Add Text With Entity</button>
    </div>
    <div class="d-flex flex-wrap align-content-start mt-2">
      <div class="card mt-2 mr-2" *ngFor="let text of sentence.data">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills justify-content-end">
            <li class="nav-item">
              <button class="btn btn-danger" (click)="delete(text)">Delete</button>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div *ngIf="isInstanceOf(text, IntentText)">
            <div class="form-group">
              <label>Text</label>
              <input (change)="intentSentenceChanged()" class="form-control" type="text" [(ngModel)]="text.text">
            </div>
          </div>

          <div *ngIf="isInstanceOf(text, IntentTextWithEntity)">
            <div class="form-group">
              <label>Text</label>
              <input (change)="intentSentenceChanged()" class="form-control" type="text" [(ngModel)]="text.text">
            </div>
            <div class="form-group">
              <label>Entity</label>
              <select (change)="intentSentenceChanged()" class="form-control" [(ngModel)]="asIntentTextWithEntity(text).entity">
                <option [value]="e" [selected]="e === asIntentTextWithEntity(text).entity" *ngFor="let e of listOfEntities">{{e}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Slot Name</label>
              <input (change)="intentSentenceChanged()" class="form-control" type="text" [(ngModel)]="asIntentTextWithEntity(text).slot_name">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
