<div class="row">
  <div class="col">
    <h3>Sentences</h3>
  </div>
</div>
<ng-container *ngIf="isLoaded">


  <div class="row" *ngFor="let s of sentences; let i = index">
    <div class="col">
      {{s}}
    </div>
    <div class="col">
      <select #intentSelection>
        <option></option>
        <option *ngFor="let k of intents.getKeys()" [value]="k">{{k}}</option>
      </select>
    </div>
    <div class="col">
      <button class="btn btn-success" (click)="sentenceToIntent(intentSelection.value, s, i )">Add</button>
    </div>
    <div class="col">
      <button class="btn btn-danger" (click)="deleteSentence(i)">Delete</button>
    </div>
  </div>
</ng-container>
<div class="row" *ngIf="!isLoaded">
  <div class="col">
    Loading ...
  </div>
</div>
