<div *ngIf="intent !== null && name !== null">

  <button class="btn btn-success" (click)="save()">Save</button>
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" placeholder="Name" [(ngModel)]="name">
    <button [disabled]="name === oldName" class="btn btn-warning mt-2" (click)="updateName()">Update Name</button>
  </div>

  <button (click)="addSentence()" class="btn btn-success">Add</button>
  <div class="d-flex flex-wrap align-content-start mt-2">
    <app-sentence-edit (deleteSentence)="deleteSentence($event)" [listOfEntities]="listOfEntities" *ngFor="let s of intent.utterances" [sentence]="s"></app-sentence-edit>
  </div>


</div>
