<h3>NLU</h3>
<div class="row">
  <div class="col">
    <div class="form-group">
      <label>Text:</label>
      <input type="text" class="form-control" [(ngModel)]="sentence">
      <button class="btn btn-primary mt-2" (click)="testNlu()">Test</button>
    </div>
  </div>
</div>
<div class="row" *ngIf="!intentSpinner">
  <div class="col">
    Intent:
  </div>
  <div class="col">{{intent}}</div>
</div>
<app-spinner [showSpinner]="intentSpinner"></app-spinner>
<div class="row" *ngIf="!entitySpinner">
  <div class="col">
    Entity:
  </div>
  <div class="col">{{entity}}</div>
</div>
<app-spinner [showSpinner]="entitySpinner"></app-spinner>

